.chart_wrapper
    width 500px
    height 300px
.amcharts-chart-div
    a
        visibility hidden
.multiline_wrapper__item
    width 100%
    height 92%
    margin-top: 24px
    > .chart
        margin 0 auto
        width inherit
        height inherit
.multiline_wrapper__item_big
    width 100%
    height 107%
    margin-top: -40px
    > .chart
        margin 0 auto
        width inherit
        height inherit
// .legend_color
//     width 15px
//     height 2px
//     display inline-flex
//     position absolute
//     left -19px
//     margin-top 13px
// .legend_text
//     display: inline-flex;
//     padding 3px
//     color #aab3b3
//     font-size: 12px
// .legend_item_items
//     position:absolute;
//     right:10px
//     bottom 43px
.tile_item__inner
    position: relative
