*
    font-family "OpenSans", serif!important
.container
    max-width: 1024px

*
    font-family "OpenSans", serif!important

body
html
.app
    width 100%
    height 100%
    position absolute
    background: rgb(41, 53, 62)
    font-family "OpenSans", serif
    letter-spacing: 0.015em
    margin: 0
    overflow hidden
    z-index 90
.app
    visibility hidden
    transform scale(1.3)
    opacity 0
    transition all 300ms ease-in-out
    &.active
        opacity 1
        visibility visible
        transform scale(1)
body
    font-weight: 300
    &:before
        content "Получение данных..."
        display block
        position absolute
        width 250px
        font-size 16px
        text-align center
        transition all 100ms ease-in-out
        transform scale(1)
        height 16px
        color: #fff
        top 0
        bottom 0
        left 0
        right 0
        margin auto
        z-index 80
.app_output
    width: calc(100% - 0px)
    transition: all 300ms ease-in-out
    position absolute
    height 100%
    &.active
        width: calc(100% - 250px)
    &:not(.active)
        header.header
             width 100%
    &.alternative
        right: 0
        header.header
            left: -250px
        &.active
            width: calc(100% - 250px)
        &:not(.active)
            header.header
                width: calc(100% - 0px)
                left: 0
.app_menu_output
    width: 220px
    position absolute
    right: 0
    top 0
    height: 100%
    background: #2f4050
    padding 50px 15px 0 15px
    transition: all 300ms ease-in-out
    transform: translateX(255px)
    right -250px
    &.active
        transform: translateX(0)
    &.alternative
        right auto
        left -250px
        &:not(.active)
            transform: translateX(-255px)
div.slider_after
    background #fff
    &.active_slider
        background  #f8ac59
div.slider_beffore
    background #1ab394
    &.active_slider
        background #1ab394
button.slider_thumb
    background #1ab394
    &:before
        display: block
        margin-top: -25px
        font-size: 12px
        color: #fff
        opacity: 0.7
button.slider_thumb_disabled
    background  #f8ac59!important
p.label_1
    color: #fff
    font-weight: 300
    margin-top: 30px
    margin-bottom: 10px
button.btn_prim
    margin 8px 0
div.slider_root
    padding 16px 0
button.btn_default
button.btn_save
    margin-top 30px
    span
        color:  #1ab394
button.btn_default
    border: 1px solid #f8ac59
    span
        color: #f8ac59
button.btn_save
    border: 1px solid  #1ab394
    color: #1ab394
header.tabs_bar
    box-shadow none
    background #fff
button.tabs_item
    min-width 126px
    color rgb(117, 117, 117)
    font-weight 400
    text-transform: capitalize
    > span:first-child
        border-right: 1px solid  #b4b4b4
div.flex_panel
    button:last-child
        span:first-child
            border 0px!important
div.tabs_container > div
    height calc(100% - 120px)
.tiles_container
    display flex
    height 100%
    position relative
    flex-wrap wrap
    margin -5px -5px -5px -5px
    > div
        width 33.333333333333%
        height 30%
        box-sizing border-box
        > div
            background #fff
            width 100%
            height 100%
            box-sizing: border-box
            padding: 5px
    > .tile_item_1
        width 100%
        height 40%
        .multiline_wrapper__item
            width 100%
            height 98%

@media all and (max-width: 800px)
    .tiles_container
        > div
            width 50%
            height 22%
        > .tile_item_1
            width 100%
            height 34%
header.header
    width calc(100% + 250px)
    background-color #293846
    z-index 999
    position relative
    box-shadow none
    transition: all 300ms ease-in-out
button.settings
    position: absolute
    right: 15px
    top: 0
    path
        fill #fff

header.tabs_bar.vertical
    box-shadow: none
    background: #fff
    transform: rotate(-90deg)
    z-index: 999
    position: relative
    right: -613px
    top: 309px

.tile_item__title
    color #757575//#757575
    font-size 18px
    font-weight 300
.tile_item__title_small
    color #757575//#757575
    font-size 14px
.tile_item__value
    font-size 40px
    font-weight: 300
    color #757575//#757575
    margin-top 15px

    &.value_flex
        display flex
        height: 35px
.tile_item__litle-value
    font-size 16px
    color #757575//#757575
.tile_item__litle-value
    font-size: 16px
    color: #1ab394
    position: absolute
    top: 70px
    font-weight: 400
.tile_item__value_small
    font-size: 16px
    font-weight: 300
    color: #757575//#757575
    margin-top: 5px
    &.value_flex
        display flex
        height: 35px
.btns__panel
    bottom: 73px
    width calc(100% - 30px)
    position absolute
    > button
        width: 45%
        margin: auto 5px auto 5px
        padding: 8px
        text-align center
        text-transform: capitalize
        span
            text-align center
            font-weight 400
            width: 100%
            display block
div.flex_panel
  display flex
  //padding 0px 13px
div.super_select
    border-bottom: 0
div.root_select
    path
        fill #fff
div.sup_select:after
div.sup_select:before
    display none

form.morda_select
    margin: auto 81px auto auto

form.morda_select_1
    margin: auto 15px auto auto
div.i_select
    color: #fff
    background: #293846!important
div.root_select_1
    > div
        color rgba(0, 0, 0, 0.54)
    path
        fill rgba(0, 0, 0, 0.54)
.tile_item__value_small span
    font-size 14px
    padding-left 5px
.tile_item__value > span
    font-size 18px
    padding-left 5px
.tile_item__title_small span
    font-size 12px
    //padding-left 5px
.tile_item__title > span
    font-size 12px
    //padding-left 5px
.tile_item__value > div > span
    font-size 18px
    padding-left 5px
    display block
.tile_item__value > div:last-child
    margin-top -11px
    float left
.tile_item__value_small > div > span
    font-size 14px
    padding-left 5px
    display block
.tile_item__value_small > div:last-child
    margin-top -18px
    float left
.subscribe_big
    font-size: 12px !important;
    margin-top: -1px;
    margin-bottom: -3px;
.subscribe
    font-size: 10px !important;
    margin-bottom: -8px;
    margin-top: 8px;
h2.header_title
    font-size: 18px
    font-weight: 400
    font-family: "Roboto", "Helvetica", "Arial", sans-serif
    line-height: 1.16667em
    margin-top: -2px
    color: #fff
div.tabs_container
    height: 100%
button.tabs_item[aria-selected=true]
    font-weight 400!important
.values_wrapper
    display: flex;
    margin-top: 5px;
    margin-bottom -14.5px
    position absolute
.vLine_small
    width 1px
    height: 20px
    background-color: #757575
    margin: 5px 10px 0 10px
.vLine
    width 1px
    height: 25px
    background-color: #757575
    margin: 13px 10px 0 10.2px
.main_tile
    margin-bottom: -44px
.hspace_big
    width 156px
.subscription_big
    display: flex;
    position: absolute;
    font-size: 12px;
    top: 35px;
    left: 80px;
.hspace
    width 156px
.slider_wrapper
    padding: 0 20px 60px 20px
.table > div {
    width: 100%;
    height: 4.545454545454545%;
    display: flex;
    flex-wrap: wrap;
}
.table > div > div {
    width: 7.045%;
    text-align: center;
    height: 100%;
    line-height: 29px;
}
.table > div > div:nth-child(1) > div {
    text-align: center;
    width: 50%
}
.top_header.hidden{
    font-size: 10px
}
.morda_select.disabled
    display none;
