*
    font-family "OpenSans", serif!important
.container
    max-width: 1024px

*
    font-family "OpenSans", serif!important

body
html
.app
    width 100%
    height 100%
    position absolute
    background #eee
    font-family "OpenSans", serif
    letter-spacing: 0.015em
    margin: 0

.app_output
    width: calc(100% - 250px)
.app_menu_output
    width: 220px
    position absolute
    right: 0
    top 0
    height: 100%
    background: #2f4050
    padding 50px 15px 0 15px
div.slider_after
    background #fff
    &.active_slider
        background  #f8ac59
div.slider_beffore
    background #1ab394
    &.active_slider
        background #1ab394
button.slider_thumb
    background #1ab394
    &:before
        display: block
        margin-top: -34px
        font-size: 12px
        color: #fff
        opacity: 0.7
button.slider_thumb_disabled
    background  #f8ac59!important
p.label_1
    color: #fff
    font-weight: 300
    margin-top: 30px
    margin-bottom: 10px
button.btn_prim
    margin 8px 0
div.slider_root
    padding 16px 0
button.btn_default
button.btn_save
    margin-top 30px
    span
        color:  #1ab394
button.btn_default
    border: 1px solid #f8ac59
    span
        color: #f8ac59
button.btn_save
    border: 1px solid  #1ab394
    color: #1ab394
header.tabs_bar
    box-shadow none
    background #fff
button.tabs_item
    min-width 155px
    color rgb(117, 117, 117)
    font-weight 400
    text-transform: capitalize
    >span
        border-right: 1px solid  #b4b4b4
div.tabs_container > div
    height calc(100% - 96px)
.tiles_container
    display flex
    height 630px
    position relative
    flex-wrap wrap
    margin -5px -5px -5px -5px
    > div
        width 33.333333333333%
        height 30%
        box-sizing border-box
        > div
            background #fff
            width 100%
            height 100%
            box-sizing: border-box
            padding: 5px
    > .tile_item_1
        width 100%
        height 40%
        .multiline_wrapper__item
            width 100%
            height 98%

header.header
    width calc(100% + 250px)
    background-color #293846
    z-index 999
    position relative
    box-shadow none
button.settings
    position: absolute
    right: 15px
    top: 0
    path
        fill #fff

header.tabs_bar.vertical
    box-shadow: none
    background: #fff
    transform: rotate(-90deg)
    z-index: 999
    position: relative
    right: -613px
    top: 309px

.tile_item__title
    color #757575//#757575
    font-size 18px
.tile_item__title_small
    color #757575//#757575
    font-size 14px
.tile_item__value
    font-size 40px
    font-weight: 300
    color #757575//#757575
    margin-top 15px
    position absolute
.tile_item__litle-value
    font-size 16px
    color #757575//#757575
.tile_item__litle-value
    font-size: 16px
    color: #1ab394
    position: absolute
    top: 65px
    font-weight: 400
.tile_item__value_small
    font-size: 26px
    font-weight: 300
    color: #757575//#757575
    margin-top: 5px
.btns__panel
    bottom 66px
    width calc(100% - 30px)
    position absolute
    > button
        width: 45%
        margin: auto 5px auto 5px
        padding-left: 5px
        text-align center
        text-transform: capitalize
        span
            text-align center
            display block
div.flex_panel
  display flex
  //padding 0px 13px
div.super_select
    border-bottom: 0
div.root_select
    path
        fill #fff
div.sup_select:after
div.sup_select:before
    display none

form.morda_select
    margin: auto 81px auto auto

form.morda_select_1
    margin: auto 15px auto auto
div.i_select
    color: #fff
    background: #293846!important
div.root_select_1
    > div
        color rgba(0, 0, 0, 0.54)
    path
        fill rgba(0, 0, 0, 0.54)
.tile_item__value_small span
    font-size 14px
    padding-left 5px
.tile_item__value > span
    font-size 18px
    padding-left 5px
h2.header_title
    font-size: 18px
    font-weight: 400
    font-family: "Roboto", "Helvetica", "Arial", sans-serif
    line-height: 1.16667em
    margin-top: -2px
    color: #fff
