.slider_min
    color white
    font-size 14px//12
    display inline-flex
    position: relative;
    float: left;
    top: -10px

.slider_max
    color white
    font-size 14px//12
    display inline-flex
    position: relative;
    float: right;  
    top: -10px
.slider_root
    padding-top: 25px!important
